.App {
  text-align: center;
  margin-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
}



.PopupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.PopupContent {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: left;
  max-width: 400px;
  width: 100%;
}

.PopupContent h2 {
  margin-bottom: 1rem;
}

.PopupContent ul {
  list-style: none;
  padding: 0;
}

.PopupContent li {
  margin-bottom: 0.5rem;
}

.CloseButton {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.CloseButton:hover {
  background-color: #0056b3;
}
.ImageContainer {
  margin-top: 1rem;
  text-align: center;
}

.ImagePreview {
  max-width: 100%;
  max-height: 200px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.in{
  
  height: 2em;
  width: 30em;
  border-radius: 2em;

}
.sub{
background-color: blue;
color:white;
border: none;
outline: none;
border-radius: 1em;

}
.lab{
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}